:root {
  --mainColor: #ff0000;
  --subColor: #f57070;
  /*Bgc*/
  --bgcDarkColor: #282828;
  --bgcDarkContentColor: #101010;
  /*Font*/
  --fontDarkMode: #f0f0f0;
  --fontSubDarkMode: #c6c4c4;
}
/*【Font】 --font-family: 'Roboto','Noto Sans TC', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;900&family=Roboto:wght@100;300;500;700;900&display=swap");
html {
  font-size: 10px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  a,
  span,
  li {
    font-size: 1.4rem;
  }
}
/*Button*/
button.read-more {
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-weight: 700;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    @extend %sbs;
  }
}

/*【Transition】 step by step --0.3s all */
%sbs {
  transition: 0.3s all linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px rgb(192, 246, 55) solid;
  ::selection {
    background: var(--subColor);
    color: var(--fontSubDarkMode);
  }
  ::-moz-selection {
    background: var(--subColor);
    color: var(--fontSubDarkMode);
  }
}

body {
  background-color: var(--bgcDarkColor);
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 80px 0 5px 0;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: var(--subColor);
  }
  &.lock-scroll {
    overflow: hidden;
  }
}
main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  padding-top: 80px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 80px 0 5px 0;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: var(--subColor);
  }
}
/*【Header】 --mobile H80 */
header.main {
  padding: 5px 0px;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  &.transparent {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .logo img {
    height: 50px;
    vertical-align: bottom;
  }

  button.menu {
    margin-left: auto;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    &::before,
    &::after {
      content: "";
      width: 28px;
      height: 4px;
      background-color: var(--fontDarkMode);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      @extend %sbs;
    }
    &::before {
      transform: translateY(-5px);
    }
    &::after {
      transform: translateY(5px);
    }
  }
  &.active {
    button.menu {
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  .main-nav {
    display: none;
    .link {
      font-size: 20px;
      font-family: "Noto Sans TC", sans-serif;
      letter-spacing: 0.1em;
      padding: 10px 0px;
      cursor: pointer;
      span {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
      }
      &.link {
        position: relative;
      }
    }
  }
  @media (max-width: 900px) {
    &.active {
      height: 100%;
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s linear;
      .main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .link span {
          margin-left: 0.5em;
        }
      }
    }
  }

  @media (min-width: 900px) {
    padding: 0px 0px;
    .container {
      flex-direction: row;
      align-items: center;
    }
    button.menu {
      display: none;
    }
    .main-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: auto;
      .links {
        display: flex;
        flex-direction: row;
      }
      .link {
        margin-left: 40px;
        padding: 25px 0px;
        a{
          font-size: 2rem;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        span {
          font-size: 1.8rem;
          line-height: 2.4rem;
          display: block;
        }
      }
    }
  }
}
@media (min-width: 900px) {
    .dot {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      background-color: var(--mainColor);
      position: fixed;
      transform: translate(-40px, -60px);
      filter: blur(5px);
      z-index: -1;
      transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
      animation: mask 5s linear infinite, show 1s linear forwards;
      &.moving {
        width: 100px;
        height: 100px;
        transform: translate(var(--move), -10px);
        transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
      }
      &.with-position {
        transition: all 0s cubic-bezier(0.16, 1, 0.3, 1);
      }
    }
}
/*【Header】 --mobile H80 */
/*【共用組件】*/
.display-xs {
  display: block;
  @media (min-width: 900px) {
    display: none;
  }
}

.display-md {
  display: none;
  @media (min-width: 900px) {
    display: block;
  }
}

.txt-group {
  padding: 10px 0px;
  .txt-title h3 {
    color: var(--fontDarkMode);
    border-left: 5px solid var(--mainColor);
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .txt-contents {
    padding-left: 15px;
    font-weight: 500;
    color: var(--fontSubDarkMode);
    .txt-content {
      margin-bottom: 10px;
      letter-spacing: 0.05em;
      .tw {
        color: var(--fontSuDarkMode);
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 16px;
      }
      .en {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
/*【共用組件】*/
/*--【ckeditor】*/
.ckeditor {
  font-size: 1rem;
  color: var(--fontSubDarkMode);
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  * {
    line-height: 1.6em;
    font-size: inherit;
  }
  p {
    width: 100%;
  }
  img {
    object-fit: cover;
    max-width: 100%;
    height: auto !important;
  }
  iframe {
    max-width: 100%;
  }
  table {
    width: 100% !important;
    border-collapse: collapse;
    th,
    td {
      border: 2px solid;
    }
  }
  ol,
  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 2em;
  }
}
/*--【ckeditor】*/
/*--【section-side】*/
.section-side {
  padding-top: 50px;
  .side {
    .title h2,
    .title span {
      color: var(--fontDarkMode);
      font-size: 3rem;
      font-weight: 900;
    }
    .title {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;
    }
    .title span {
      padding-left: 1rem;
    }
    .title::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -10px;
      height: 5px;
      background-color: red;
    }
  }
  .content {
    overflow-x: hidden;
    margin-bottom: 60px;
  }
  .tags {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    a + a {
      margin-left: 10px;
    }
    .tag {
      width: 150px;
      padding: 10px 20px;
      background-color: black;
      position: relative;
      font-weight: 500;
      .tag-name {
        color: white;
        font-size: 16px;
        padding-bottom: 5px;
      }
      .tag-sub-name {
        color: var(--fontSubDarkMode);
        font-size: 14px;
      }
      &::before {
        content: "";
        background-color: var(--mainColor);
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
      &.active::before,
      &:hover::before {
        opacity: 1;
        @extend %sbs;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    padding: 10px;
    .leave {
      display: flex;
      justify-content: flex-end;
    }
    .back {
      font-size: 18px;
      padding: 5px 10px;
      color: var(--bgcDarkColor);
      font-weight: 900;
      border-radius: 90px;
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      i {
        padding-right: 5px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 1);
        @extend %sbs;
      }
    }
  }
}

@media (min-width: 900px) {
  .section-side {
    height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    .container {
      display: flex;
      height: 100%;
    }
    .side {
      flex: 0 0 200px;
      position: sticky;
      top: 0;
      overflow: hidden;
      .title {
        position: absolute;
        top: 0;
        width: 100vh;
        height: 100vh;
        transform: rotate(-90deg);
        &::after {
          content: "";
          position: absolute;
          right: 40px;
          top: 45px;
          height: 5px;
          background-color: var(--mainColor);
        }
        h2 {
          position: absolute;
          z-index: 1;
          top: 25px;
          right: 0;
          font-weight: 500;
          padding-left: 10px;
          margin-right: 40px;
          font-size: 50px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: var(--bgcDarkColor);
        }
      }
      .leave {
        position: absolute;
        left: 45px;
        .back {
          width: 30px;
          height: 30px;
          overflow: hidden;
          line-height: 30px;
          padding: 0px 10px;
          color: var(--bgcDarkColor);
          font-weight: 900;
          border-radius: 90px;
          background-color: rgba(255, 255, 255, 0.8);
          cursor: pointer;
          i {
            padding-right: 5px;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 1);
            width: 70px;
            transition: all 0.2s linear;
            transform: translateX(-40px);
          }
        }
      }
    }
    .content {
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 0px;
      flex: 1 1 auto;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 0px 0 5px 0;
      }
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: var(--subColor);
      }
    }
  }
}
/*--【section-side】*/
/*【Index】*/
.section-index {
  margin-top: -80px;
  height: calc(100% + 80px);
  width: 100%;
  overflow: hidden;
  .about {
    height: 100%;
    position: relative;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .about-img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .about-info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      min-height: 200px;
      .name {
        width: 40%;
        padding-left: 15px;
        h2 {
          display: block;
          border-bottom: 5px solid var(--mainColor);
          color: white;
          font-size: 10vw;
          width: 100%;
        }
        span {
          color: white;
          font-size: 5vw;
        }
      }
      .about-expertises {
        width: calc(50% - 15px);
        margin-left: 10%;
        .expertises {
          padding: 5px 0px;
          overflow: hidden;
          .tw,
          .en {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            white-space: nowrap;
          }
          .tw {
            font-weight: 1.2rem;
            color: var(--fontDarkMode);
          }
          .en {
            font-weight: 1rem;
            font-weight: 500;
            color: var(--fontSubDarkMode);
          }
        }
      }
    }
  }
  .btns {
    width: 100%;
    padding: 15px 15px 25px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .news {
    position: relative;
    display: flex;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .news-info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      min-height: 200px;
      justify-content: flex-end;
      .news-title {
        padding: 0px 15px;
        .main {
          font-size: 2rem;
          display: inline-block;
          border-bottom: 2px solid #ff0000;
          padding-bottom: 5px;
          margin-bottom: 5px;
          color: var(--fontDarkMode);
        }
        .sub {
          font-size: 1.6rem;
          color: var(--fontSubDarkMode);
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .section-index {
    .about {
      .about-info {
        background: transparent;
        left: 10%;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        .name {
          width: auto;
          h2 {
            width: 8vw;
            font-size: 8vw;
            border-bottom: 2px solid var(--mainColor);
            padding-bottom: 2px;
            margin-bottom: 2px;
          }
          span {
            font-size: 3vw;
          }
        }
        .about-expertises {
          width: auto;
          margin-left: 40px;
          position: absolute;
          bottom: 9vw;
          left:calc(8vw + 10px);
          .expertises {
            background-color: white;
            padding: 5px 10px;
            margin: 5px 0px;
            .tw {
              color: var(--bgcDarkContentColor);
              font-weight: 700;
            }
            .en {
              color: var(--bgcDarkColor);
            }
          }
        }
      }
      .read-more {
        border: 2px solid var(--bgcDarkColor);
        color: var(--bgcDarkColor);
        width: 8vw;
      }
    }
    .news {
      .news-info {
        background: rgba(0, 0, 0, 0);
        top: 0;
        justify-content: center;
        .news-title {
          margin-left: 10%;
          width: 40%;
          .main {
            font-size: 3rem;
          }
          .sub {
            color: white;
            font-size: 1.8rem;
          }
        }
        .btns {
          margin-left: 10%;
        }
      }
    }
  }
}
/*【Index】*/
/*【About】*/
.section-about {
  padding: 50px 0px;
  height: 100%;
  .title {
    margin-bottom: 20px;
  }
  .title h2,
  .title span {
    color: var(--fontDarkMode);
    font-size: 3rem;
  }
  .title h2 {
    display: inline-block;
    position: relative;
  }
  .title span{
    padding-left: 1rem;
  }
  .title h2::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    height: 5px;
    background-color: red;
  }
  .main {
    .photo img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;
    }
  }
  .other {
    overflow-x: hidden;
  }
  .name-group {
    padding: 20px 0px;
    .name-title {
      display: inline-block;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 5px solid var(--mainColor);
    }
    .name-title h3 {
      font-size: 2.6rem;
      color: white;
      span {
        font-size: 2.6rem;
        padding-left: 0.5em;
      }
    }
    .name-job p {
      color: var(--fontDarkMode);
      font-size: 1.6rem;
      line-height: 1.8rem;
      &.tw{
        margin-bottom: 5px;
      }
    }
  }
}
@media (min-width: 900px) {
  .section-about {
    .content {
      display: flex;
    }
    .main {
      width: 40%;
      align-self: flex-start;
      position: sticky;
      top: 80px;
      left: 0;
    }
    .other {
      width: 60%;
      padding-left: 50px;
    }
  }
}
/*【NEWS】*/
.section-news {
  .news {
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    .news-title {
      color: var(--fontSubDarkMode);
      font-weight: 500;
    }
    .news-date {
      color: var(--fontSubDarkMode);
      font-weight: 500;
      margin-top: 5px;
    }
    &:hover {
      .news-title,
      .news-date {
        color: var(--fontDarkMode);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 10%;
      left: 0;
      width: 5px;
      height: 80%;
      display: block;
      background-color: var(--mainColor);
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
      @extend %sbs;
    }
  }

  a + a .news {
    border-top: 1px solid var(--fontSubDarkMode);
  }
}
@media (min-width: 900px) {
  .section-news {
    .news {
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
/*【NEWS】*/
/*【NEWS-Deatil】*/
.section-news-detail {
  @media (max-width: 900px) {
    .side {
      display: none;
    }
  }
  .news {
    .news-title h3 {
      font-size: 3rem;
      color: var(--fontDarkMode);
      border-bottom: 5px solid var(--mainColor);
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .news-date p {
      font-size: 2rem;
      font-weight: 500;
      color: var(--fontDarkMode);
    }
    .news-deatil {
      margin: 30px 0px;
    }
  }
}
/*【NEWS-Deatil】*/

/*【TEAM-ABOUT】*/
.section-team-about {
  .about {
    margin: 30px 0px;
  }
}
/*【TEAM-ABOUT】*/
/*【TEAM-MEMBER】*/
.section-team-member {
  .member-list {
    margin: 10px 0px;
    .title h3 {
      color: var(--fontDarkMode);
    }
  }
  .members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px -1%;
    a {
      margin: 1%;
      width: 48%;
    }
    .member {
      width: 100%;
      overflow: hidden;
      position: relative;
      .member-pic {
        img {
          width: 100%;
          aspect-ratio: 4/6;
          object-fit: cover;
          vertical-align: middle;
          @extend %sbs;
        }
      }
      .member-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 80%;
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p.name {
          color: var(--fontDarkMode);
          font-size: 1.6rem;
          padding-bottom: 5px;
        }
        p.sub-name {
          color: var(--fontSubDarkMode);
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
      }
      &:hover {
        .member-pic img {
          transform: scale(1.4);
          @extend %sbs;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .section-team-member {
    .member-list {
      margin: 30px 0px;
    }
    .members {
      margin: 0px -1%;
      a {
        margin: 1%;
        width: 23%;
      }
    }
  }
}
/*【TEAM-MEMBER】*/
/*【TEAM-MEMBER-DETAIL】*/
.section-team-member-detail {
  .member-introduce {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--fontSubDarkMode);
    margin-bottom: 10px;
    .member-pic {
      width: 40%;
      max-width: 200px;
      img {
        width: 100%;
      }
    }
    .member-info {
      width: 60%;
      flex: 1 1 auto;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .member-name {
        color: var(--fontDarkMode);
        font-size: 2.4rem;
        margin-bottom: 5px;
        .en {
          display: block;
          font-size: 2rem;
          font-weight: 300;
          word-break: normal;
        }
      }
      .member-job {
        color: var(--fontSubDarkMode);
        margin-bottom: 10px;
      }
      .member-email {
        color: var(--fontSubDarkMode);
      }
    }
    .member-about {
      width: 100%;
      margin: 10px 0px;
      .about-title p {
        color: var(--fontDarkMode);
        font-size: 1.6rem;
        font-weight: 500;
        border-left: 4px solid var(--mainColor);
        padding-left: 4px;
        margin-bottom: 5px;
      }
      .about-content {
        padding: 10px;
        line-height: 1.8rem;
        color: var(--fontSubDarkMode);
      }
    }
  }

  .member-papers {
    padding: 0 10px;
    .papers-title p {
      color: var(--fontDarkMode);
      font-size: 1.6rem;
      font-weight: 500;
      border-left: 4px solid var(--mainColor);
      padding-left: 4px;
      margin: 0 -10px 5px -10px;
    }

    a + a .paper {
      border-top: 1px solid var(--fontSubDarkMode);
    }
    .paper {
      padding: 10px 0px;
      position: relative;
      cursor: pointer;
      .paper-title p {
        font-size: 1.4rem;
        color: var(--fontDarkMode);
        padding-bottom: 5px;
      }
      .paper-remark p {
        font-size: 1rem;
        line-height: 1.4rem;
        color: var(--fontSubDarkMode);
      }
      &:hover {
        .paper-title p {
          color: white;
          @extend %sbs;
        }
        .paper-remark p {
          color: var(--fontDarkMode);
          @extend %sbs;
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .section-team-member-detail {
    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      .tags {
        width: 100%;
      }
      .member-introduce {
        width: 40%;
        .member-info {
          word-wrap: break-word;
          word-break: break-all;
        }
      }
      .member-papers {
        width: 60%;
        margin-top: 10px;
        .paper {
          padding-left: 10px;
          &::before {
            content: "";
            position: absolute;
            top: 10%;
            left: 0;
            width: 5px;
            height: 80%;
            display: block;
            background-color: var(--mainColor);
            opacity: 0;
          }
          &:hover::before {
            opacity: 1;
            transition: all 0.3s linear;
          }
        }
      }
    }
  }
}
/*【TEAM-MEMBER-DETAIL】*/
/*【WORK】--seminars、teaching*/
.section-work {
  .about {
    margin: 30px 0px;
  }
}
/*【WORK】*/
/*【WORK-publications】*/
.section-publications {
  .papers {
    padding: 0 10px;
    .papers-title p {
      color: var(--fontDarkMode);
      font-size: 1.6rem;
      font-weight: 500;
      border-left: 4px solid var(--mainColor);
      padding-left: 4px;
      margin: 0 -10px 5px -10px;
    }

    a + a .paper {
      border-top: 1px solid var(--fontSubDarkMode);
    }
    .paper {
      padding: 20px 0px;
      position: relative;
      cursor: pointer;
      .paper-title p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding-bottom: 5px;
        color: var(--fontDarkMode);
      }
      .paper-remark p {
        font-size: 1rem;
        line-height: 1.4rem;
        color: var(--fontSubDarkMode);
      }
      &:hover {
        .paper-title p {
          color: white;
          @extend %sbs;
        }
        .paper-remark p {
          color: var(--fontDarkMode);
          @extend %sbs;
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .section-publications {
    .papers {
      .paper {
        padding: 20px 0px;
        padding-left: 10px;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .paper-title p {
          font-size: 1.8rem;
          line-height: 2rem;
          color: var(--fontDarkMode);
        }
        .paper-remark p {
          font-size: 1.4rem;
          line-height: 1.6rem;
          color: var(--fontSubDarkMode);
        }
        &::before {
          content: "";
          position: absolute;
          top: 10%;
          left: 0;
          width: 5px;
          height: 80%;
          display: block;
          background-color: var(--mainColor);
          opacity: 0;
        }
        &:hover::before {
          opacity: 1;
          transition: all 0.3s linear;
        }
      }
    }
  }
}
/*【WORK-publications】*/
/*【CSS import】*/
/*【Font-Awesome】*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

/* Animation */
@keyframes mask {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 49% 51% 50% 50% / 54% 39% 61% 46%;
  }
  to {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
