@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;900&family=Roboto:wght@100;300;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
:root {
  --mainColor: #ff0000;
  --subColor: #f57070;
  /*Bgc*/
  --bgcDarkColor: #282828;
  --bgcDarkContentColor: #101010;
  /*Font*/
  --fontDarkMode: #f0f0f0;
  --fontSubDarkMode: #c6c4c4;
}

/*【Font】 --font-family: 'Roboto','Noto Sans TC', sans-serif;*/
html {
  font-size: 10px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

html h1 {
  font-size: 2.6rem;
}

html h2 {
  font-size: 2.4rem;
}

html h3 {
  font-size: 2rem;
}

html p,
html a,
html span,
html li {
  font-size: 1.4rem;
}

/*Button*/
button.read-more {
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid var(--fontSubDarkMode);
  color: var(--fontSubDarkMode);
  background-color: transparent;
  font-weight: 900;
}

button.read-more:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

/*【Transition】 step by step --0.3s all */
button.read-more:hover, header.main button.menu::before, header.main button.menu::after, .section-side .tags .tag.active::before, .section-side .tags .tag:hover::before, .section-side .footer .back:hover, .section-news .news:hover::before, .section-team-member .members .member .member-pic img, .section-team-member .members .member:hover .member-pic img, .section-team-member-detail .member-papers .paper:hover .paper-title p, .section-team-member-detail .member-papers .paper:hover .paper-remark p, .section-publications .papers .paper:hover .paper-title p, .section-publications .papers .paper:hover .paper-remark p {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-moz-selection {
  background: var(--subColor);
  color: var(--fontSubDarkMode);
}

* ::selection {
  background: var(--subColor);
  color: var(--fontSubDarkMode);
}

* ::-moz-selection {
  background: var(--subColor);
  color: var(--fontSubDarkMode);
}

body {
  background-color: var(--bgcDarkColor);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 80px 0 5px 0;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--subColor);
}

body.lock-scroll {
  overflow: hidden;
}

main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  padding-top: 80px;
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 80px 0 5px 0;
}

main::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--subColor);
}

/*【Header】 --mobile H80 */
header.main {
  padding: 5px 0px;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

header.main.transparent {
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

header.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header.main .logo img {
  height: 50px;
  vertical-align: bottom;
}

header.main button.menu {
  margin-left: auto;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
}

header.main button.menu::before, header.main button.menu::after {
  content: '';
  width: 28px;
  height: 4px;
  background-color: var(--fontDarkMode);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header.main button.menu::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header.main button.menu::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header.main.active button.menu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header.main.active button.menu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header.main .main-nav {
  display: none;
}

header.main .main-nav .link {
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.1em;
  padding: 10px 0px;
  cursor: pointer;
}

header.main .main-nav .link span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 0.5em;
}

header.main .main-nav .link.link {
  position: relative;
}

@media (max-width: 900px) {
  header.main.active {
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  header.main.active .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media (min-width: 900px) {
  header.main {
    padding: 0px 0px;
  }
  header.main .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.main button.menu {
    display: none;
  }
  header.main .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  header.main .main-nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header.main .main-nav .link {
    margin-left: 20px;
    padding: 25px 0px;
  }
  header.main .main-nav .link span {
    margin-left: 5px;
  }
}

@media (min-width: 900px) {
  .dot {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: var(--mainColor);
    position: absolute;
    -webkit-transform: translate(-40px, -60px);
            transform: translate(-40px, -60px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    z-index: -1;
    -webkit-transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    -webkit-animation: mask 5s linear infinite,show 1s linear forwards;
            animation: mask 5s linear infinite,show 1s linear forwards;
  }
  .dot.moving {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(var(--move), -10px);
            transform: translate(var(--move), -10px);
    -webkit-transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .dot.with-position {
    -webkit-transition: all 0s cubic-bezier(0.16, 1, 0.3, 1);
    transition: all 0s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

/*【Header】 --mobile H80 */
/*【共用組件】*/
.display-xs {
  display: block;
}

@media (min-width: 900px) {
  .display-xs {
    display: none;
  }
}

.display-md {
  display: none;
}

@media (min-width: 900px) {
  .display-md {
    display: block;
  }
}

.txt-group {
  padding: 10px 0px;
}

.txt-group .txt-title h3 {
  font-weight: 700;
  color: var(--fontDarkMode);
  border-left: 5px solid var(--mainColor);
  padding-left: 10px;
  margin-bottom: 10px;
}

.txt-group .txt-contents {
  padding-left: 15px;
  font-weight: 500;
  color: var(--fontSubDarkMode);
}

.txt-group .txt-contents .txt-content {
  margin-bottom: 10px;
  letter-spacing: 0.05em;
}

.txt-group .txt-contents .txt-content .tw {
  color: var(--fontSuDarkMode);
  margin-bottom: 5px;
  font-size: 14px;
}

.txt-group .txt-contents .txt-content .en {
  font-size: 12px;
}

/*【共用組件】*/
/*--【ckeditor】*/
.ckeditor {
  font-size: 1rem;
  color: var(--fontSubDarkMode);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: break-word;
}

.ckeditor * {
  line-height: 1.6em;
}

.ckeditor p {
  width: 100%;
}

.ckeditor img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.ckeditor iframe {
  max-width: 100%;
}

.ckeditor table {
  width: 100% !important;
  border-collapse: collapse;
}

.ckeditor table th, .ckeditor table td {
  border: 2px solid;
}

.ckeditor ol, .ckeditor ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 2em;
}

/*--【ckeditor】*/
/*--【section-side】*/
.section-side {
  padding-top: 50px;
}

.section-side .side .title h2,
.section-side .side .title span {
  color: var(--fontDarkMode);
  font-size: 3rem;
  font-weight: 900;
}

.section-side .side .title {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.section-side .side .title::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  height: 5px;
  background-color: red;
}

.section-side .content {
  overflow-x: hidden;
  margin-bottom: 60px;
}

.section-side .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.section-side .tags::-webkit-scrollbar {
  display: none;
}

.section-side .tags a + a {
  margin-left: 10px;
}

.section-side .tags .tag {
  width: 150px;
  padding: 10px 20px;
  background-color: black;
  position: relative;
}

.section-side .tags .tag .tag-name {
  color: white;
  font-weight: 500;
}

.section-side .tags .tag .tag-sub-name {
  color: var(--fontSubDarkMode);
  font-weight: 300;
}

.section-side .tags .tag::before {
  content: "";
  background-color: var(--mainColor);
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.section-side .tags .tag.active::before, .section-side .tags .tag:hover::before {
  opacity: 1;
}

.section-side .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  padding: 10px;
}

.section-side .footer .leave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-side .footer .back {
  font-size: 18px;
  padding: 5px 10px;
  color: var(--bgcDarkColor);
  font-weight: 900;
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.section-side .footer .back i {
  padding-right: 5px;
}

.section-side .footer .back:hover {
  background-color: white;
}

@media (min-width: 900px) {
  .section-side {
    height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .section-side .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .section-side .side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  .section-side .side .title {
    position: absolute;
    top: 0;
    width: 100vh;
    height: 100vh;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .section-side .side .title::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 45px;
    height: 5px;
    background-color: var(--mainColor);
  }
  .section-side .side .title h2 {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 0;
    font-weight: 500;
    padding-left: 10px;
    margin-right: 40px;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--bgcDarkColor);
  }
  .section-side .side .leave {
    position: absolute;
    left: 45px;
  }
  .section-side .side .leave .back {
    width: 30px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    padding: 0px 10px;
    color: var(--bgcDarkColor);
    font-weight: 900;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
  .section-side .side .leave .back i {
    padding-right: 5px;
  }
  .section-side .side .leave .back:hover {
    background-color: white;
    width: 70px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .section-side .content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .section-side .content::-webkit-scrollbar {
    width: 5px;
  }
  .section-side .content::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 0px 0 5px 0;
  }
  .section-side .content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--subColor);
  }
}

/*--【section-side】*/
/*【Index】*/
.section-index {
  margin-top: -80px;
  height: calc(100% + 80px);
  width: 100%;
  overflow: hidden;
}

.section-index .about {
  height: 100%;
  position: relative;
}

.section-index .about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-index .about .about-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.section-index .about .about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-index .about .about-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  min-height: 200px;
}

.section-index .about .about-info .name {
  width: 40%;
  padding-left: 15px;
}

.section-index .about .about-info .name h2 {
  display: block;
  border-bottom: 5px solid var(--mainColor);
  color: white;
  font-size: 10vw;
  width: 100%;
}

.section-index .about .about-info .name span {
  color: white;
  font-size: 5vw;
}

.section-index .about .about-info .about-expertises {
  width: calc( 50% - 15px);
  margin-left: 10%;
}

.section-index .about .about-info .about-expertises .expertises {
  padding: 5px 0px;
  overflow: hidden;
}

.section-index .about .about-info .about-expertises .expertises .tw, .section-index .about .about-info .about-expertises .expertises .en {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

.section-index .about .about-info .about-expertises .expertises .tw {
  font-weight: 1.2rem;
  color: var(--fontDarkMode);
}

.section-index .about .about-info .about-expertises .expertises .en {
  font-weight: 1rem;
  font-weight: 500;
  color: var(--fontSubDarkMode);
}

.section-index .btns {
  width: 100%;
  padding: 15px 15px 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-index .news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-index .news img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.section-index .news .news-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  min-height: 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-index .news .news-info .news-title {
  padding: 0px 15px;
}

.section-index .news .news-info .news-title .main {
  font-size: 2rem;
  display: inline-block;
  border-bottom: 2px solid #ff0000;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: var(--fontDarkMode);
}

.section-index .news .news-info .news-title .sub {
  font-size: 1.6rem;
  color: var(--fontSubDarkMode);
}

@media (min-width: 900px) {
  .section-index .about .about-info {
    background: transparent;
    left: 10%;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section-index .about .about-info .name {
    width: auto;
  }
  .section-index .about .about-info .name h2 {
    width: 8vw;
    font-size: 8vw;
    border-bottom: 2px solid var(--mainColor);
    padding-bottom: 2px;
    margin-bottom: 2px;
  }
  .section-index .about .about-info .name span {
    font-size: 3vw;
  }
  .section-index .about .about-info .about-expertises {
    width: auto;
    margin-left: -9vw;
    margin-bottom: 4vw;
  }
  .section-index .about .about-info .about-expertises .expertises {
    background-color: white;
    padding: 5px 10px;
    margin: 5px 0px;
  }
  .section-index .about .about-info .about-expertises .expertises .tw {
    color: var(--bgcDarkContentColor);
    font-weight: 700;
  }
  .section-index .about .about-info .about-expertises .expertises .en {
    color: var(--bgcDarkColor);
  }
  .section-index .about .read-more {
    border: 2px solid var(--bgcDarkColor);
    color: var(--bgcDarkColor);
    width: 8vw;
  }
  .section-index .news .news-info {
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-index .news .news-info .news-title {
    margin-left: 10%;
    width: 40%;
  }
  .section-index .news .news-info .news-title .main {
    font-size: 3rem;
  }
  .section-index .news .news-info .news-title .sub {
    font-size: 1.8rem;
  }
  .section-index .news .news-info .btns {
    margin-left: 10%;
  }
}

/*【Index】*/
/*【About】*/
.section-about {
  padding: 50px 0px;
}

.section-about .title {
  margin-bottom: 20px;
}

.section-about .title h2,
.section-about .title span {
  color: var(--fontDarkMode);
  font-size: 3rem;
  font-weight: 900;
}

.section-about .title h2 {
  display: inline-block;
  position: relative;
}

.section-about .title h2::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  height: 5px;
  background-color: red;
}

.section-about .main .photo img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-about .other {
  overflow-x: hidden;
}

.section-about .name-group {
  padding: 20px 0px;
}

.section-about .name-group .name-title {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid var(--mainColor);
}

.section-about .name-group .name-title h3 {
  font-size: 2.6rem;
  color: white;
  font-weight: 900;
}

.section-about .name-group .name-title h3 span {
  font-size: 2.6rem;
  padding-left: 0.5em;
}

.section-about .name-group .name-job p {
  color: var(--fontDarkMode);
  font-size: 1.6rem;
  font-weight: 900;
}

@media (min-width: 900px) {
  .section-about .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-about .main {
    width: 40%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    left: 0;
  }
  .section-about .other {
    width: 60%;
    padding-left: 50px;
  }
}

/*【NEWS】*/
.section-news .news {
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}

.section-news .news .news-title {
  color: var(--fontSubDarkMode);
  font-weight: 500;
}

.section-news .news .news-date {
  color: var(--fontSubDarkMode);
  font-weight: 500;
  margin-top: 5px;
}

.section-news .news:hover .news-title,
.section-news .news:hover .news-date {
  color: var(--fontDarkMode);
}

.section-news .news::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 5px;
  height: 80%;
  display: block;
  background-color: var(--mainColor);
  opacity: 0;
}

.section-news .news:hover::before {
  opacity: 1;
}

.section-news a + a .news {
  border-top: 1px solid var(--fontSubDarkMode);
}

@media (min-width: 900px) {
  .section-news .news {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*【NEWS】*/
/*【NEWS-Deatil】*/
@media (max-width: 900px) {
  .section-news-detail .side {
    display: none;
  }
}

.section-news-detail .news .news-title h3 {
  font-size: 3rem;
  color: var(--fontDarkMode);
  border-bottom: 5px solid var(--mainColor);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.section-news-detail .news .news-date p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--fontDarkMode);
}

.section-news-detail .news .news-deatil {
  margin: 30px 0px;
}

/*【NEWS-Deatil】*/
/*【TEAM-ABOUT】*/
.section-team-about .about {
  margin: 30px 0px;
}

/*【TEAM-ABOUT】*/
/*【TEAM-MEMBER】*/
.section-team-member .member-list {
  margin: 10px 0px;
}

.section-team-member .member-list .title h3 {
  font-weight: 900;
  color: var(--fontDarkMode);
}

.section-team-member .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px -1%;
}

.section-team-member .members a {
  margin: 1%;
  width: 48%;
}

.section-team-member .members .member {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section-team-member .members .member .member-pic img {
  width: 100%;
  aspect-ratio: 4/5;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.section-team-member .members .member .member-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-team-member .members .member .member-info p.name {
  color: var(--fontDarkMode);
  font-size: 1.6rem;
}

.section-team-member .members .member .member-info p.sub-name {
  color: var(--fontSubDarkMode);
  font-size: 1.2rem;
}

.section-team-member .members .member:hover .member-pic img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (min-width: 900px) {
  .section-team-member .member-list {
    margin: 30px 0px;
  }
  .section-team-member .members {
    margin: 0px -1%;
  }
  .section-team-member .members a {
    margin: 1%;
    width: 23%;
  }
}

/*【TEAM-MEMBER】*/
/*【TEAM-MEMBER-DETAIL】*/
.section-team-member-detail .member-introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid var(--fontSubDarkMode);
  margin-bottom: 10px;
}

.section-team-member-detail .member-introduce .member-pic {
  width: 40%;
  max-width: 200px;
}

.section-team-member-detail .member-introduce .member-pic img {
  width: 100%;
  aspect-ratio: 4/5;
}

.section-team-member-detail .member-introduce .member-info {
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-team-member-detail .member-introduce .member-info .member-name {
  color: var(--fontDarkMode);
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.section-team-member-detail .member-introduce .member-info .member-name .en {
  display: block;
  font-size: 2rem;
  font-weight: 300;
}

.section-team-member-detail .member-introduce .member-info .member-job {
  color: var(--fontSubDarkMode);
  margin-bottom: 10px;
}

.section-team-member-detail .member-introduce .member-info .member-email {
  color: var(--fontSubDarkMode);
}

.section-team-member-detail .member-introduce .member-about {
  width: 100%;
  margin: 10px 0px;
}

.section-team-member-detail .member-introduce .member-about .about-title p {
  color: var(--fontDarkMode);
  font-size: 1.6rem;
  font-weight: 500;
  border-left: 4px solid var(--mainColor);
  padding-left: 4px;
  margin-bottom: 5px;
}

.section-team-member-detail .member-introduce .member-about .about-content {
  padding: 10px;
  color: var(--fontSubDarkMode);
}

.section-team-member-detail .member-papers {
  padding: 0 10px;
}

.section-team-member-detail .member-papers .papers-title p {
  color: var(--fontDarkMode);
  font-size: 1.6rem;
  font-weight: 500;
  border-left: 4px solid var(--mainColor);
  padding-left: 4px;
  margin: 0 -10px 5px -10px;
}

.section-team-member-detail .member-papers a + a .paper {
  border-top: 1px solid var(--fontSubDarkMode);
}

.section-team-member-detail .member-papers .paper {
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
}

.section-team-member-detail .member-papers .paper .paper-title p {
  font-size: 1.4rem;
  color: var(--fontDarkMode);
}

.section-team-member-detail .member-papers .paper .paper-remark p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--fontSubDarkMode);
}

.section-team-member-detail .member-papers .paper:hover .paper-title p {
  color: white;
}

.section-team-member-detail .member-papers .paper:hover .paper-remark p {
  color: var(--fontDarkMode);
}

@media (min-width: 900px) {
  .section-team-member-detail .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-team-member-detail .content .tags {
    width: 100%;
  }
  .section-team-member-detail .content .member-introduce {
    width: 40%;
  }
  .section-team-member-detail .content .member-introduce .member-info {
    word-wrap: break-word;
    word-break: break-all;
  }
  .section-team-member-detail .content .member-papers {
    width: 60%;
    margin-top: 10px;
  }
  .section-team-member-detail .content .member-papers .paper {
    padding-left: 10px;
  }
  .section-team-member-detail .content .member-papers .paper::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 5px;
    height: 80%;
    display: block;
    background-color: var(--mainColor);
    opacity: 0;
  }
  .section-team-member-detail .content .member-papers .paper:hover::before {
    opacity: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

/*【TEAM-MEMBER-DETAIL】*/
/*【WORK】--seminars、teaching*/
.section-work .about {
  margin: 30px 0px;
}

/*【WORK】*/
/*【WORK-publications】*/
.section-publications .papers {
  padding: 0 10px;
}

.section-publications .papers .papers-title p {
  color: var(--fontDarkMode);
  font-size: 1.6rem;
  font-weight: 500;
  border-left: 4px solid var(--mainColor);
  padding-left: 4px;
  margin: 0 -10px 5px -10px;
}

.section-publications .papers a + a .paper {
  border-top: 1px solid var(--fontSubDarkMode);
}

.section-publications .papers .paper {
  padding: 20px 0px;
  position: relative;
  cursor: pointer;
}

.section-publications .papers .paper .paper-title p {
  font-size: 1.4rem;
  color: var(--fontDarkMode);
}

.section-publications .papers .paper .paper-remark p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--fontSubDarkMode);
}

.section-publications .papers .paper:hover .paper-title p {
  color: white;
}

.section-publications .papers .paper:hover .paper-remark p {
  color: var(--fontDarkMode);
}

@media (min-width: 900px) {
  .section-publications .papers .paper {
    padding: 20px 0px;
    padding-left: 10px;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-publications .papers .paper .paper-title p {
    font-size: 2rem;
    color: var(--fontDarkMode);
  }
  .section-publications .papers .paper .paper-remark p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--fontSubDarkMode);
  }
  .section-publications .papers .paper::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 5px;
    height: 80%;
    display: block;
    background-color: var(--mainColor);
    opacity: 0;
  }
  .section-publications .papers .paper:hover::before {
    opacity: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

/*【WORK-publications】*/
/*【CSS import】*/
/*【Font-Awesome】*/
/* Animation */
@-webkit-keyframes mask {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 49% 51% 50% 50% / 54% 39% 61% 46%;
  }
  to {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}
@keyframes mask {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 49% 51% 50% 50% / 54% 39% 61% 46%;
  }
  to {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */